# **1. Python Output**

In [1]:
#pyhton is a case sensituve language

print('Hello World')

Hello World

In [2]:
print(7)

7

In [3]:
print(2.9)

2.9

In [4]:
print(True)

True

In [5]:
print('Hello world', True, 2, 2.4)

Hello world True 2 2.4

In [8]:
# we can change the separator
print('Hello world', True, 2, 2.4, sep='/')

Hello world/True/2/2.4

In [1]:
# line change function

print('hello', end='\n')
print('world')

hello
world

# **3. Data types**

In [10]:
# Integers
print(7)

7

In [12]:
#longest integers python can handel is 1*10^308
print(1e308)

print(1e309)

1e+308
inf

In [14]:
# Desimal or Float
print(7.897)

print(1.7e309)

7.897
inf

In [1]:
# Boolean
print(True)
print(False)

True
False

In [5]:
# Text/String
print('Hello World')
print("Hello")

#Multi line string

print('''Motivated Google-certified Data Analyst with a strong machine learning and deep learning foundation. Proficient in Python,
 R, and data visualization tools. Skilled in managing machine learning pipelines and applying computer vision techniques.
 Eager to contribute to a dynamic team and grow my expertise in natural language processing.''')

Hello World
Hello
Motivated Google-certified Data Analyst with a strong machine learning and deep learning foundation. Proficient in Python,
 R, and data visualization tools. Skilled in managing machine learning pipelines and applying computer vision techniques.
 Eager to contribute to a dynamic team and grow my expertise in natural language processing.

In [1]:
# Complex
print(5+6j)

(5+6j)

In [2]:
# list or Array
print([1,2,3,4,45])

[1, 2, 3, 4, 45]

In [3]:
# tuple
print((1, 'a', 3.3, True))

(1, 'a', 3.3, True)

In [5]:
# Sets
print({1,3,4,6,8})

{1, 3, 4, 6, 8}

In [7]:
# Disctionaries

print({'Name': 'Ahsan', 'Gender': 'male', 'Age': 23})

{'Name': 'Ahsan', 'Gender': 'male', 'Age': 23}

In [8]:
type([1,2,3,4,5])

list

# **4. Variables**

Variabels are contatiners that store values.

### Rules to Assign a Variable
***1. The variable should contain lettes, numbers or underscore..***

***2. Do not start with numbers.***

***3. Spaces are not allowed.***

***4. Do not use keywords used in function like (break, mean ,media, test etc..)***

***5. Short and discriptive***

***6. case senstivity (lower case and upercase letter shoul be used)***

In [9]:
a  = 6

### **Dynamic Typing**
The way of creating variable where we do not tell the data type of variable.

If the the value is '5' Python will automatically understand that it is integer value. 

### **Static Typing**
 The way of initializing variabel where we specify the data type of variabel. 

 Mostly happens in C and C++.

 `int num1 = 45`

 ### **Dynamic Binding**

 A variable in python can store any type of data in same programe.

` a = 5 `
 
 and next step in same code 

 ` a = 'Ali' `

  ### **Static Binding**

  In static binding once if we inialize for example any integer variable,

  it will not hold any other data type.

In [12]:
# stylish declaration techniques
a,b,c = 1,2,3

print(a,b,c)

1 2 3

In [14]:
a=b=c=4

print(a)

4

# **User Input**

In [1]:
input()

'ahsan'

In [2]:
input("What is your name? ")

'Ahsan'

In [3]:
#take input from user and store them in vaariables
num1 = input("Enter 1st number: ")
num2 = input("Enter 2nd number: ")
# add two variables
sum = num1 + num2
# print the result
print(sum)

6786

In [4]:
print(type(num1), type(num2))

<class 'str'> <class 'str'>

# **Type Conversion**

In [6]:
#take input from user and store them in vaariables
num1 = input("Enter 1st number: ")
num2 = input("Enter 2nd number: ")
# add two variables
sum = int(num1) + int(num2)
# print the result
print(sum)

1440

# **Litrals**

In [7]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [8]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [9]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10